body {
	background-color: lightgray;
}
/********************
    Nav Pannel 
*********************/


nav {
  background-color: #FFB4B0;
  border: 2px solid black;
  margin: 2% 10% 1%;
}

nav ul {
  list-style-type: none;
}

nav li {
  display: inline-block;
}





/********************
    Contol Panel 
*********************/

.control-panel {
  width: 20%;
  background-color: #4DD7FA;
  border: 2px solid black;
  padding: 1%;
  margin-left: 10%;
  margin-right: 15px;
}



/********************
    Music Panel 
*********************/

.music-panel {
  width: 70%;
  height: 360px;
  background-color: #FEFAC0;
  border: 2px solid black;
  padding: 1%;
  margin-right: 10%;
  overflow-y: auto;
}  





/********************
    Flexbox 
*********************/

.container {
	display: flex;
}
















  